<%= form_for @appearance do |f| %>
    <% if flash[:errors] %> 
        <ul>
            <% flash[:errors].each do |e| %> 
                <li><%= e %> </li><br>
            <% end %> 
        </ul>
    <% end %> 
    <br>
    <%= f.label "Guests" %><br> 
    <%= f.collection_select :guest_id, @guests , :id, :name %> 
    <br>
    <%= f.label "Episodes" %><br> 
    <%= f.collection_select :episode_id, @episodes , :id, :date %> 
    <br>
    <%= f.label "Rating" %><br> 
    <%= f.text_field :rating %> 
    <br>
    <%= f.submit %> 
<% end %> 